{% set map = salt['grains.filter_by']({
    'Debian': {
        'pkgs': ['lldpad'],
        'service': 'lldpad'
    },
    'RedHat': {
        'pkgs': ['lldpad'],
        'service': 'lldpad',
    },
}, merge=salt['pillar.get']('lldpad:lookup')) %}
